server:
  port: ${SERVER_PORT:8888}

spring:
  application:
    name: gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8081/realms/microservices-realm}

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: product-service
              uri: ${PRODUCT_SERVICE_URL:http://localhost:8082}
              predicates:
                - Path=/products/**

            - id: order-service
              uri: ${ORDER_SERVICE_URL:http://localhost:8083}
              predicates:
                - Path=/orders/**

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
