server:
  port: 8888

spring:
  application:
    name: gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/microservices-realm

  cloud:
    gateway:
      server:
        webflux:
          routes:

            - id: product-service
              uri: http://localhost:8082
              predicates:
                - Path=/products/**

            - id: order-service
              uri: http://localhost:8083
              predicates:
                - Path=/orders/**
